%p#notice= notice

= @user.posts.all.each{|post|
  = post.msg
  = post.created_at
}
%p
  %b Email:
  = @user.email
%p
  %b Name:
  = @user.name
%p
  %b Age:
  = @user.age
%p
  %b Password:
  = @user.password

= link_to 'Edit', edit_user_path(@user)
\|
= link_to 'Back', users_path
