%p#notice= notice

.d-flex.flex-row.bd-highlight.mb-3
  .p-2.bd-highlight
    - if(@posts)
      - @posts.each_with_index do |post, index|
        = link_to "#{(post.user).name}", "/profile/#{(post.user).name}"
        %br
        = post.msg
        %br
        = post.created_at
        %br%br
        %p{ class: "idz"}
          = "#{(post.likes).count} likes"
        %button{"data-bs-target" => "#exampleModal", "data-bs-toggle" => "modal", :class => "btn btn-primary show", :id => "id#{index}" , :type => "button"}
          Show Like People

        
        - if(post.likes.find_by(user_id: session[:user_id]))
          = link_to "unlike ", "/unlike/#{post.id}"
        - else
          = link_to "like ", "/like/#{post.id}"
        %br
      .modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :id => "exampleModal md", :tabindex => "-1"}
        .modal-dialog
          .modal-content
            .modal-header
              %h5#exampleModalLabel.modal-title Like People
              %button.btn-close{"aria-label" => "Close", "data-bs-dismiss" => "modal", :type => "button"}
            .modal-body
      .modal-footer
        %button.btn.btn-secondary{"data-bs-dismiss" => "modal", :type => "button"} Close
        %br
  .p-2.bd-highlight
    %p
      %b Email:
      = @user.email
    %p
      %b Name:
      = @user.name
    %p
      %b Password:
      = @user.password
    = link_to 'New Post', "/new_post"
  <div class="d-flex align-items-stretch">...</div>


:javascript
  console.log("hello")
  $(".show").click(function(){
    var Modal = $('md');
    var post = $(this).prev();
    var numlike = post.html();
    var Modaltext = $('modal-body');
    console.log(post);
    console.log(numlike);
    Modaltext.html(numlike);
    Modal.append("nonono");
    Modal.show();
    
  })
