%p#notice= notice
= simple_form_for @user, url: "/login_attempt" do |f|
  - if @user.errors.any?
    #error
      %h2
        = pluralize(@user.errors.count, "error")
      %ul
        - @user.errors.each do |error|
          %li= error.full_message

  = f.input :email
  = f.input :password
  = f.button :submit, "Login"
= link_to 'Create User', "/new_user"


%button.btn.btn-primary{"data-bs-target" => "#exampleModal", "data-bs-toggle" => "modal", :type => "button"}
  Show like people
  
  

.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :id => "exampleModal", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %h5#exampleModalLabel.modal-title Modal title
        %button.btn-close{"aria-label" => "Close", "data-bs-dismiss" => "modal", :type => "button"}
      .modal-body
        %p ...aaa
      .modal-footer
        %button.btn.btn-secondary{"data-bs-dismiss" => "modal", :type => "button"} Close

