%h1 New user

= simple_form_for @user, method: :post,url: "/create_user" do |f|
  - if @user.errors.any?
    #error_explanation
      %h2
        = pluralize(@user.errors.count, "error")
        prohibited this user from being saved:
      %ul
        - @user.errors.each do |error|
          %li= error.full_message

  = f.input :email
  = f.input :name
  = f.input :password
  = f.button :submit

= link_to 'Back', users_path
