%p#notice %= notice 

.d-flex.flex-row.bd-highlight.mb-3
  .p-2.bd-highlight
    - if(@user.posts)
      - @user.posts.each_with_index do |post,index|
        = link_to "#{(post.user).name}", "/profile/#{(post.user).name}"
        %br
        = post.msg
        %br
        = post.created_at
        %br
        = (post.likes).count 
        %p likes
        #accordionExample.accordion
          .accordion-item
            %h2.accordion-header{:id => "heading#{index}"}
              %button.accordion-button{"aria-controls" => "collapseOne", "aria-expanded" => "false", "data-bs-target" => "#collapse#{index}", "data-bs-toggle" => "collapse", :type => "button"}
                people who like this post
            .accordion-collapse.collapse.show{"aria-labelledby" => "heading#{index}", "data-bs-parent" => "#accordionExample", :id => "collapse#{index}"}
              .accordion-body
                - post.likes.each do |like|
                  = link_to "#{like.user.name}", "/profile/#{like.user.name}"
                  %br
        %br
        - if(post.likes.find_by(user_id: session[:user_id]))
          = link_to "unlike ", "/unlike/#{post.id}"
        - else
          = link_to "like ", "/like/#{post.id}"
        %br
        %p -----------------------------------------------------------------
  .p-2.bd-highlight
    %p
      %b Email:
      = @user.email
    %p
      %b Name:
      = @user.name
    %p
      %b Password:
      = @user.password
    - if(@is_follow)
      = link_to 'Unfollow', "/unfollow/#{@user.id}"
    - elsif(not(@is_self))
      = link_to 'Follow', "/follow/#{@user.id}"
