%p#notice %= notice 

.d-flex.flex-row.bd-highlight.mb-3
  .p-2.bd-highlight
    - if(@user.posts)
      - @user.posts.each do |post|
        = link_to "#{(post.user).name}", "/profile/#{(post.user).name}"
        %br
        = post.msg
        %br
        = post.created_at
        %br
  .p-2.bd-highlight
    %p
      %b Email:
      = @user.email
    %p
      %b Name:
      = @user.name
    %p
      %b Password:
      = @user.password
    - if(@is_follow)
      = link_to 'Unfollow', "/unfollow/#{@user.id}"
    - elsif(not(@is_self))
      = link_to 'Follow', "/follow/#{@user.id}"
