%p#notice %= notice 

.d-flex.flex-row.bd-highlight.mb-3
  .p-2.bd-highlight
    - if(@user.posts)
      - @user.posts.each_with_index do |post,index|
        = link_to "#{(post.user).name}", "/profile/#{(post.user).name}"
        %br
        = post.msg
        %br
        = post.created_at
        - post.likes.map{|like| "<br><a href='/profile/#{like.user.name}'>#{like.user.name}</a>"}.join('').html_safe
        %br
          Show Like People
        - if(post.likes.find_by(user_id: session[:user_id]))
          = link_to "unlike ", "/unlike/#{post.id}"
        - else
          = link_to "like ", "/like/#{post.id}"
        %br
        = "#{(post.likes).count} likes"
        %button{:class => "btn btn-primary show","data-bs-toggle"=>"modal", "data-bs-target"=>"#exampleModal", :type => "button" , "attr" => post.likes.map{|like| "<br><a href='/profile/#{like.user.name}'>#{like.user.name}</a>"}.join('').html_safe}
          Show Like People
  .p-2.bd-highlight
    %p
      %b Email:
      = @user.email
    %p
      %b Name:
      = @user.name
    %p
      %b Password:
      = @user.password
    - if(@is_follow)
      = link_to 'Unfollow', "/unfollow/#{@user.id}"
    - elsif(not(@is_self))
      = link_to 'Follow', "/follow/#{@user.id}"

.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :id => "exampleModal", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %h5#exampleModalLabel.modal-title Like People
        %button.btn-close{"aria-label" => "Close", "data-bs-dismiss" => "modal", :type => "button"}
      .modal-body
        %p ...aaa
      .modal-footer
        %button.btn.btn-secondary{"data-bs-dismiss" => "modal", :type => "button"} Close
        
:javascript
  console.log("hello")
  $(".show").click(function(){
    var post = $(this).prev();
    var numlike = post.html();
    var Modal = $('.modal');
    var Modaltext = $('.modal-body');
    console.log(numlike);
    console.log($(this).attr("attr"));
    Modaltext.html(numlike);
    Modaltext.html(numlike + "<br>" +$(this).attr("attr"));
    
  })      

